.about {
  padding-top: 130px;
  padding-bottom: 50px;
  background-image: url("../img/kerfin.png"), url("../img/about-bg.jpg");
  background-position: top 50px right -27%, center;
  background-size: 35%, cover;
  background-repeat: no-repeat;

  &__container {
    background-image: url("../img/vr.png");
    background-position: bottom right 10%;
    background-size: 40%;
    background-repeat: no-repeat;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__image {
    @include small-tablet {
      margin: 0 auto;
      max-width: 400px;
    }
  }

  &__scene {
    @include tablet {
      display: none;
    }
  }

  @include small-tablet {
    padding-top: 50px;
  }
}

.about-scene {
  position: relative;
  width: 100%;
  height: 100%;

  &__men {
    position: relative;
    z-index: 3;
  }

  &__screen {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 2;
    zoom: 0.87;
    animation: flying 3.3s linear infinite;
  }
}
