.footer {
  border-top: 1.5px solid var(--rum-color);
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: var(--beige-color);

  &__container {
    @include flex-all-sb;

    flex-wrap: wrap;
    gap: 35px;

    @include mobile {
      justify-content: center;
      gap: 20px;
    }
  }

  &__logo {
    width: 200px;
  }

  &__copyright {
    font-size: 16px;
    text-align: center;
    color: var(--rum-color);

    @include tablet {
      order: 1;
      width: 100%;
      font-size: 14px;
    }
  }
}
