<section class="about-pc">
  <div class="container grid">
    <div class="content about-pc__content">
      <h2 class="title content__title">About XBOX, PS</h2>
      <h3 class="subtitle content__subtitle">The New Xbox, Ps Series</h3>
      <p class="content__descr">It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters as opposed.</p>
      <a href="#price" class="link content__link">Get Started Now</a>
    </div>
    <div class="about-pc__image for-tablet">
      <img src="img/about-pc.png" alt="" aria-hidden="true">
    </div>
    <div class="about-pc__scene about-pc-scene">
      <div class="about-pc-scene__bg">
        <img src="img/leaf-left.svg" class="about-pc-scene__leaf-left" aria-hidden="true">
        <img src="img/leaf-right.svg" class="about-pc-scene__leaf-right" aria-hidden="true">
        <img src="img/clouds.svg" class="about-pc-scene__clouds" aria-hidden="true">
        <img src="img/shadow.svg" class="about-pc-scene__shadow" aria-hidden="true">
      </div>
      <div class="about-pc-scene__main">
        <div class="about-pc-scene__wheel-big">
          <img src="img/wheel-big.svg" aria-hidden="true">
        </div>
        <div class="about-pc-scene__wheel-small">
          <img src="img/wheel-small.svg" aria-hidden="true">
        </div>
        <img src="img/controller.svg" class="about-pc-scene__controller" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
