<section class="about">
  <div class="container grid about__container">
    <div class="about__image for-tablet">
      <img src="img/character-2.png" alt="" aria-hidden="true">
    </div>
    <div class="about__scene about-scene">
      <img src="img/screen.svg" alt="" class="about-scene__screen" aria-hidden="true">
      <img src="img/game-men.svg" alt="" class="about-scene__men" aria-hidden="true">
    </div>
    <div class="content about__content">
      <h2 class="title content__title">About VR Glasses</h2>
      <h3 class="subtitle content__subtitle">The New VR Glasses Series</h3>
      <p class="content__descr">It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters as opposed.</p>
      <a href="#price" class="link content__link">Get Started Now</a>
    </div>
  </div>
</section>
