<footer class="footer">
  <div class="container footer__container">
    <a href="#" class="logo footer__logo">
      <img loading="lazy" src="img/logo.png" alt="Healas.lt" width="238" height="65">
    </a>
    <div class="footer__copyright">
      Copyright © 2022 HEALAS.LT. All Rights Reserved.
    </div>
    <ul class="list-reset social">
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Facebook">
          <svg>
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Twitter">
          <svg>
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Instagram">
          <svg>
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
