<header class="header fixed-block">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img loading="lazy" src="img/logo.png" alt="Healas.lt" width="280" height="78">
    </a>
    <nav class="nav" title="Navigation" data-nav>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link" data-scroll data-nav-item>Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-scroll data-nav-item>About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-scroll data-nav-item>Prices</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-scroll data-nav-item>Rules</a></li>
      </ul>
      <a href="#price" class="link">Get Started Now</a>
    </nav>
    <button class="btn-reset burger" aria-label="Open menu" data-burger>
      <div class="burger__line"></div>
    </button>
  </div>
</header>
<div class="nav-overlay" data-nav-overlay></div>
