<section class="hero">
  <div class="container grid">
    <div class="content hero__content">
      <h2 class="title content__title">Gaming Consoles</h2>
      <h3 class="subtitle content__subtitle">Try It, Rent It, <div class="hero__subtitle-accent">Save $50!</div>
      </h3>
      <p class="content__descr">It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters as opposed.</p>
      <a href="#price" class="link content__link">Get Started Now</a>
      <div class="hero__icon">
        <img src="img/cross.svg" alt="" aria-hidden="true">
      </div>
    </div>
    <div class="hero__image for-tablet">
      <img src="img/banner.svg" alt="" aria-hidden="true">
    </div>
    <div class="hero__scene hero-scene">
      <img src="img/hole.svg" class="hero-scene__hole" alt="" aria-hidden="true">
      <div class="hero-scene__center">
        <img src="img/boy.svg" class="hero-scene__boy" alt="" aria-hidden="true">
        <img src="img/joy.svg" class="hero-scene__joy" alt="" aria-hidden="true">
      </div>
      <img src="img/box-1.png" alt="" class="hero-scene__subimg-top">
      <img src="img/box-2.png" alt="" class="hero-scene__subimg-bottom">
    </div>
  </div>
</section>
