<section class="price">
  <div class="container price__container">
    <h2 class="title price__title">Our Pricing</h2>
    <h3 class="subtitle price__subtitle">Choose Your Plan</h3>
    <ul class="list-reset price__list">
      <li class="price__item">
        <div class="price__content">
          <h4 class="price__name">Basic</h4>
          <div class="price__value">
            <span class="price__valute">$</span>
            <span class="price__value-digit">50.00</span>
            / Per Hour
          </div>
          <ul class="list-reset price__tariffs">
            <li class="price__tariff">10 users included</li>
            <li class="price__tariff">2 GB of storage</li>
            <li class="price__tariff">Email support</li>
            <li class="price__tariff">Help center access</li>
            <li class="price__tariff">10 users included</li>
          </ul>
          <a href="#" class="link price__link">Select This Plan</a>
        </div>
      </li>
      <li class="price__item price__item--main">
        <div class="price__content">
          <h4 class="price__name">Standard</h4>
          <div class="price__value">
            <span class="price__valute">$</span>
            <span class="price__value-digit">95.00</span>
            / Per Hour
          </div>
          <ul class="list-reset price__tariffs">
            <li class="price__tariff">10 users included</li>
            <li class="price__tariff">2 GB of storage</li>
            <li class="price__tariff">Email support</li>
            <li class="price__tariff">Help center access</li>
            <li class="price__tariff">10 users included</li>
          </ul>
          <a href="#" class="link price__link">Select This Plan</a>
        </div>
      </li>
      <li class="price__item">
        <div class="price__content">
          <h4 class="price__name">Premium</h4>
          <div class="price__value">
            <span class="price__valute">$</span>
            <span class="price__value-digit">120.00</span>
            / Per Hour
          </div>
          <ul class="list-reset price__tariffs">
            <li class="price__tariff">10 users included</li>
            <li class="price__tariff">2 GB of storage</li>
            <li class="price__tariff">Email support</li>
            <li class="price__tariff">Help center access</li>
            <li class="price__tariff">10 users included</li>
          </ul>
          <a href="#" class="link price__link">Select This Plan</a>
        </div>
      </li>
    </ul>
  </div>
</section>
